/*
  Name: Mary Epler
  Date: 7/24/2020
  Project: Rob Epler Music
  filename: style.css
*/
header {text-align: center;
        padding: 5%;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 2px 4px 5px #a9bcc6;}
.foot {display: flex;
      flex-wrap: wrap;
      text-align: center;
      background-color: gray;}
.footText {font-size: 1.5em; flex: 1;}
.small {height: 700px;}
.caro {margin-top: 2%;}

/* music section on home page */
.music {display: flex;
        flex-wrap: wrap;
        margin: 10%;
        text-align: center;
        box-shadow: 1px 2px 4px gray;}
.musicCon {flex: 1 300px;}
.musicText {flex-basis: 100%; margin-bottom: 2%;}
.more {flex-basis:100%;
       margin: 2% 10%;
       background-color: gray;
       color: white;}
.more:hover {background-color: #a9bcc6;
             color: black;
             box-shadow: 10px 5px 5px gray;}

/* faded in the blue section */
.faded {display: grid;
        grid-gap: 10px;
        text-align: center;
        grid-template-areas:
        'main main side1'
        'main main side2'
        'main main side3'}
.main {grid-area: main;
       box-shadow: 0 2px 5px #888888;}
.box {display: grid;
      box-shadow: 0 2px 5px #888888;
      align-items: center;}
.side1 {grid-area: side1;}
.side2 {grid-area: side2;}
.side3 {grid-area: side3;}
.fab {font-size: 8em;}
.fa-spotify {color: green;}
.fa-spotify:hover {color: darkgreen;}
.fadPic {height: 600px;}

/* social media tags */
.social {text-align: center;
         margin: 8%;}
.fa-youtube {color: red; margin: 0 2%;}
.fa-youtube:hover, .fa-star:hover {color: darkred;}
.social .fab {font-size: 6em;}
.fa-star {color: red; font-size: 6em; margin-right: 2%;}

/* about page */
.con1 {margin: 2%;}
.left {height: 450px;
            margin: 0 2% 2% 2%;
            box-shadow: 5px 5px 10px gray;
            float:left;}
.right {float: right; height: 300px;}
.about p {font-size: 1.5em;}
.about {margin-bottom: 5%;}
/* music page */
.fbcard {height: 310px;}
.smallI {font-size: 2em;
         margin: 2%;}
/* reviews styling */
.reviews {display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 5% 0;
          padding: 25px;
          background-image: url(images/blue.jpg);
          background-size: cover;
          box-shadow: 4px 8px 5px gray;}
.reviews h2 {flex-basis: 100%; text-align: center;}

.rev {box-shadow: 1px 2px 5px gray;
      margin: 2%;
      padding: 20px;
      background-color: white;}
.r1 {flex:3;}
.r2 {flex:1;}

/* contact page */
.contact {display:flex;
          flex-wrap: wrap;
          margin: 0 5%;}
.contactHead {font-size: 4em;}
.cPage {flex: 1; margin: 5%;}
.cPage h2 {text-align: center}
.contactInfo p {font-size: 1.5em;}
.image {text-align: center;}
.image img {height: 300px; box-shadow: 2px 4px 10px #a9bcc6;}

@media screen and (max-width: 980px)
{
  .small {height:600px;}
  .faded{grid-template-areas:
         'main main main'
         'side1 side2 side3'}
  .footText {flex-basis: 100%;}
}

@media screen and (max-width: 950px)
{
  .rev {flex-basis: 100%;}
  .contactHead {font-size: 3em;
}

@media screen and (max-width: 740px)
{
  .small {height: 500px;}
  .fadPic {height: 400px;}
  .box h2 {font-size: 1em;}
  .box .fab {font-size: 4em;}
  .social .fab, .social .fas {font-size: 4em;}
  .left {float:none;}
  .center {text-align: center;}
  .image {flex-basis: 100%;}
}

@media screen and (max-width: 610px)
{
  .small {height: 450px;}
  .faded{grid-template-areas:
         'main'
         'side1'
         'side2'
        'side3';}
  .box .fab {font-size: 6em;}
}

@media screen and (max-width: 450px)
{
    .small {height: 300px;} 
}
